<nb-layout class="window-mode with-scroll">
  <nb-layout-header fixed>
    <div class="nb-theme-cosmic">
      <div class="header-container">
        <div class="logo-container">
          <a href="javascript:void(0);" class="sidebar-toggle" (click)="toggle()" *ngIf="isLoggedIn">
            <nb-icon icon="menu-2-outline" class="nb-icon-menu"></nb-icon>
          </a>
          <a href="#" class="logo">
            <span>
              <fa-icon [icon]="faGlobeAmericas"></fa-icon>
              Travel app 
            </span>
          </a>
        </div>
      </div>
      <div class="header-container" *ngIf="isLoggedIn">
        <div class="logout-div">
          <a href="/login" class="logout-action" (click)="logout()">
            <fa-icon [icon]="faSignOutAlt" class="nb-icon-menu"></fa-icon>
          </a>
        </div>
      </div>
    </div>
  </nb-layout-header>
  <nb-sidebar responsive *ngIf="isLoggedIn">
    <nb-menu [items]="items">
    </nb-menu>
  </nb-sidebar>

  <nb-layout-column>
    <router-outlet></router-outlet>
    
  </nb-layout-column>

  <nb-layout-footer fixed>
  <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
