.card-container {
    display: flex;
    justify-content: center;
}

.card-div {
    width: 600px;
    border-color: #a16eff;
}

@media screen and (max-width: 650px) {
    .card-div {
        width: 470px;
    }
}

@media screen and (max-width: 470px) {
    .card-div {
        width: 300px;
    }

    .flex-card-container {
        display: block !important;
        width: 100% !important;
    }

    .flex-card-item {
        margin-top: 35px;
    }

    .card-icon {
        text-align: right;
        align-self: flex-end;
        display: flex;
        justify-content: end;
        position: relative !important;
    }

    .flex-body {
        display: block !important;
    }

    .flex-column {
        margin-top: 25px;
    }
}

.center {
    width: 100%;
    max-width: 350px;
    padding: 15px;
    margin: auto;
    text-align: center;
}

.flex-card-container {
    display: flex;
    width: 100%;
}

.flex-card-item {
    flex: 1;
}

.flex-card-item:first-child {
    margin-right: 20px;
}

.flex-card-text {
    text-align: center;
    align-items: center;
    align-self: center;
    align-content: center;
}

.card-icon {
    /*text-align: right;
    align-self: flex-end;
    display: flex;
    bottom: 0;
    right: 0;*/
    position: absolute !important;
}

.card-item-icon {
    margin-right: 10px;
}

.card-item-icon-circle {
    height: 30px;
    width: 30px;
    display: inline-block;
    margin-bottom: 15px;
}

.label-span {
    font-size: 1.625rem;
    font-weight: 700;
    line-height: 2rem;
}

.arrival-airport-span {
    margin-left: 15px;
}

.departure-airport-span {
    margin-right: 15px;
}

.arrival-city-span {
    margin-left: 15px;
}

.departure-city-span {
    margin-right: 15px;
}

.icons-span {
    margin: auto;
}

.estimated-time-span {
    margin: auto;
    padding-left: 55px;
}

.label-city-span {
    font-size: 1.025rem;
    font-weight: 700;
    line-height: 2rem;
}

.dates-div {
    margin-top: 30px;
}

.dates-span {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.5rem;
}

.flex-row {
    flex-direction: row;
    display: flex;
    padding-right: 25px;
}

.flex-column {
    flex-direction: column;
    display: flex;
    width: 100%;
    position: relative;
}

.flex-body {
    display: flex;
}

.line {
    border-top: 1px solid #a16eff;
    width: auto;
    margin-top: 20px;
}

.flightIcons {
    padding-left: 10px;
    margin-top: 5px;
}

.item-icon {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mini-card {
    width: 150px;
    border-color: #a16eff;
    text-align: center;
}

.mini-card-label-span {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 2rem;
}

.mini-card-margin {
    margin: 30px 30px auto auto;
}

.last-mini-card-margin {
    margin-right: 0px !important;
}

.medium-card {
    width: 550px;
    border-color: #a16eff;
    text-align: center;
    margin-left: 5px;
    margin-right: 0px;
}
